span.css-10trblm.e1nzilvr0
{
    background-color:darkgreen;
    color:lightskyblue;
    border-radius: 15px;
    text-align: center;
}

div.css-nahz7x.e1nzilvr4
{
    color:whitesmoke;
    text-transform: uppercase;
}


div.css-1wncz92.e1nzilvr4
{
    color:white
}


div.css-1vbkxwb.e1nzilvr4
{
    color:green;

}


